[submodule "hello_world"]
	path = hello_world
	url = https://github.com/CptnPluto/cairo_hello_world.git
[submodule "variables"]
	path = variables
	url = https://github.com/CptnPluto/cairo_variables.git
